body{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: 600;
}
ul{
    position: absolute;
    display: flex;
    list-style-type: none;
    gap: 1rem;
    transform: translateX(-50%);
    top:0;
}